:root {
    --color: #e6007e;
    --txt: black;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--txt);
    font-family: 'Courier New', Courier, monospace;
}

.content {
    width: 100vw;
    height: 100vh;
}

.content,
.logo {
    display: flex;
    flex-flow: row wrap;
}

/* 问题：背景图片被放大了 */
.picture {
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 35vw;
}

.logo {
    background-color: rgba(0, 0, 0, 0.45);
    position: relative;
    top: 20vh;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.odin {
    height: 13vh;
}

.name {
    color: white;
    font-size: 70px;
    padding-top: 15px;
}

.right {
    width: 65vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.intro {
    font-size: 1.1rem;
    width: 85%;
}

p,
i {
   
}

.left {
    padding-left: 3vw;
}

.remote {
    margin: 40px 0 80px;
}

.form {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    gap:20px;
}

.input{
    font-size: 0.7rem;
    display: flex;
    flex-flow: column;
    width: 35%;
}
.form-title{
    width:100%;
    font-weight: 600;
    font-size: 1.2rem;
}

button{
    font-size: 0.9rem;
    margin: 20px 0;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgb(112, 158, 112);
    color: white;
}

.AlreadyAccount{
    display: flex;
    gap: 10px;
    font-size: 0.9rem;
}

.logIn{
    color: green;
    font-weight: bold;
}

/* img{
    width: 100vw;
    height: 100vh;
} */











/* #background{
    max-height: 100vh;
}

body {
    overflow: hidden; 
  }


#greyishbar{
    width:150px;
    height:70px;
    background-color: grey;
    opacity: 0.5;
} */